.header_wrapper {
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .checkout_wrapper {
    .title {
      font-size: 1.4rem;
    }
    .address {
      color: $grey;
    }
  }
}
